################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backup
/.vs
/DiscordBot/bin
/DiscordBot/Data
/DiscordBot/obj
